body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cssload-wrap {
  width: 185px;
  height: 185px;
  margin: 92px auto;
  position: relative;
  perspective: 3700px;
  -o-perspective: 3700px;
  -ms-perspective: 3700px;
  -webkit-perspective: 3700px;
  -moz-perspective: 3700px;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.cssload-circle {
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0;
  width: 185px;
  height: 185px;
  border: 2px solid rgba(81, 108, 163, 0.49);
  border-radius: 139px;
  position: absolute;
  top: 0;
  left: 0;
  animation: cssload-spin 10.5s ease-in-out alternate infinite;
  -o-animation: cssload-spin 10.5s ease-in-out alternate infinite;
  -ms-animation: cssload-spin 10.5s ease-in-out alternate infinite;
  -webkit-animation: cssload-spin 10.5s ease-in-out alternate infinite;
  -moz-animation: cssload-spin 10.5s ease-in-out alternate infinite;
}
.cssload-circle:nth-of-type(1) {
  animation-delay: 175ms;
  -o-animation-delay: 175ms;
  -ms-animation-delay: 175ms;
  -webkit-animation-delay: 175ms;
  -moz-animation-delay: 175ms;
}
.cssload-circle:nth-of-type(2) {
  animation-delay: 350ms;
  -o-animation-delay: 350ms;
  -ms-animation-delay: 350ms;
  -webkit-animation-delay: 350ms;
  -moz-animation-delay: 350ms;
}
.cssload-circle:nth-of-type(3) {
  animation-delay: 525ms;
  -o-animation-delay: 525ms;
  -ms-animation-delay: 525ms;
  -webkit-animation-delay: 525ms;
  -moz-animation-delay: 525ms;
}
.cssload-circle:nth-of-type(4) {
  animation-delay: 700ms;
  -o-animation-delay: 700ms;
  -ms-animation-delay: 700ms;
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
}
.cssload-circle:nth-of-type(5) {
  animation-delay: 875ms;
  -o-animation-delay: 875ms;
  -ms-animation-delay: 875ms;
  -webkit-animation-delay: 875ms;
  -moz-animation-delay: 875ms;
}

@keyframes cssload-spin {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  25% {
    transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
    transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
    transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
    transform: rotateY(900deg) rotateX(1080deg);
    opacity: 1;
  }
}

@-o-keyframes cssload-spin {
  0% {
    -o-transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  25% {
    -o-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
    -o-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
    -o-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
    -o-transform: rotateY(900deg) rotateX(1080deg);
    opacity: 1;
  }
}

@-ms-keyframes cssload-spin {
  0% {
    -ms-transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  25% {
    -ms-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
    -ms-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
    -ms-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
    -ms-transform: rotateY(900deg) rotateX(1080deg);
    opacity: 1;
  }
}

@-webkit-keyframes cssload-spin {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
    -webkit-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
    -webkit-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
    -webkit-transform: rotateY(900deg) rotateX(1080deg);
    opacity: 1;
  }
}

@-moz-keyframes cssload-spin {
  0% {
    -moz-transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  25% {
    -moz-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
    -moz-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
    -moz-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
    -moz-transform: rotateY(900deg) rotateX(1080deg);
    opacity: 1;
  }
}
